.styles.idColumn {
    margin-left: 150px;
}
.container {
    text-align: center;
}

.tablespalce {
    text-align: center;
}

h2 {
    font-size: 20px;
    padding: 20px;
    color:#0E783D;

}
h4 {
    font-weight: bold;
    color:#0E783D;
    font-size: 5px;
}
h5 {
    font-weight:bold;
    font-size: 20px;
    color:red;

    margin-left: 10px;
    margin-bottom: 100px;
    text-align: center;
}


.THEMLOAI {
    text-align: center;
    margin-left: -100px;
}

.card {
    margin-top: 150px;
}



.themloai {
    text-align: center;
    margin-left: 200px;
}