
h2 {
    font-size: 20px;
    font-weight: bold;
}
h4 {
    color:#0E783D;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}
p {
    font-size: 20px;
    margin-top: 10px;
}

.taophieunhap {
    margin-top: 140px;
}
.CHITIETXUATVACCIN {
    margin-top: 50PX;
    margin-left: -70px;
}

.NHAPPPP{
    margin-top: 70PX;
    margin-left: -70px;
}

.form-outlineE {
    margin-top: 20px;
}

.FORM-outline {
    margin-top: 20PX;
}

.ngaykethuc {
    margin-top: -100px;
    margin-left: 250px;
}

.ngaybatdau {
     margin-left: -300px;
}

.thongkee {
    margin-top: 30px;
    margin-left: -30px;

}